/* src/components/ImageRating.css */
.image-rating {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .image {
    width: 150px;
    height: auto;
    margin-right: 20px;
  }
  
  .rating {
    display: flex;
    flex-direction: column;
  }
  
  .rating input {
    width: 50px;
    text-align: center;
  }
  