.image-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-container {
  padding: 10px;
  border-radius: 5px;
}

/* Couleur or */
.gold {
  background-color: gold;
}

/* Couleur argent */
.silver {
  background-color: silver;
}

/* Couleur bronze */
.bronze {
  background-color: #cd7f32;
}
